[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
mock = "*"
pytest = "*"
Sphinx = "*"
sphinx-autobuild = "*"

[packages]
requests = "*"
python-jose = "*"

[requires]
python_version = "3"
